/* COLORS */
$darkPrimary: #000000;
$white: #ffffff;
$yellow:#E4A710;
$yellow_active:#b78d23;
$result_bg:#648bcf;
/* SCREENS */
$xs: 390px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
$xxxl: 1532px;
$xxxxl: 1920px;
$transitionDuration: 0.3s;