/* COLORS */
$darkPrimary: #000000;
$white: #ffffff;
$yellow:#E4A710;
$yellow_active:#b78d23;
$result_bg:#648bcf;
// $darkGray: #232325;
// $mediumGray: #dcdcdd;
// $lightGray: #edecec;
// $blackout: #0000004d;
// $purple: #824ee6;
// $yellow: #e4f240;
// $red: #f84b4b;
// $darkBlue: #0f1729;
/* SCREENS */
$xs: 390px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
$xxxl: 1532px;
$xxxxl: 1920px;
$transitionDuration: 0.3s;

/* Z-INDEX */
// $zIndexMobileMenu: 70;
// $zIndexModalbackdrop: 70;
// $zIndexModal: 81;
// $zIndexLanguagemenu: 70;

/* BORDER RADIUS */
// $borderRadiusPrimary: 24px;
/* Отступы */
// $caseTopMargin: 32px;
// $caseTitleMargin: 16px;
